@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 6%;
    --foreground: 0 0% 100%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 100%;
    --primary: 228 39% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 262 100% 71%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 262 100% 71%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
